.box {
	height: 130px;
	width: 141px;
	background: rebeccapurple;
	overflow: hidden;
}
.box2{
    height: 130px;
	width: 141px;
	background: rgb(121, 236, 13);
	overflow: hidden;
}
.box3{
    height: 130px;
	width: 141px;
	background: rgba(215, 238, 10, 0.924);
	overflow: hidden;
}